<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>实例</title>
<link type="text/css" href="CSS/main.css" rel="stylesheet"/>
<script src="js/vue.js"></script>
<script src="js/vue-resource.min.js"></script>
</head>
<body>
	<div id="app" style="background-color:#FFF"> 
	  姓：<input v-model="first"/>
	  名：<input v-model="last"/>
	  <div>{{full}}</div>
	  <div>{{count}}</div>
	  <div v-if="show">呼呼呼</div>
	  <button @click="handleClick">呵呵哈哈哈</button>
	  <ul>
	  	<li v-for="(item, index) of list" :key='index'>{{item}}</li>
	  </ul>
	  <input v-model="inputValue"/>
	  <button @click="addValue">提交</button>
	  <ul>
	  	<li v-for="(item, index) of list" :key='index'> {{item}}</li>
	  </ul>
	</div>
	<script type="text/javascript">
		new Vue(
		{
			el:"#app",
			data:{
				first:"",
				last:"",
				data:"",
				count:0,
				show:true,
				list:['朱一龙','白宇','沈巍','赵云澜'],
				inputValue:'',
			},
			computed:{
				full: function () {
				  return this.first+this.last; 
				}
			},
			methods: {
				handleClick: function () {
                  this.show=!this.show;
				},
				number: function (a) {
                  return parseInt(a)+1;
				},
				addValue: function () {
                  this.list.push(this.inputValue);
                  this.inputValue='';
				},
			},
			watch:{
				first: function () {
                    this.count++;
				},
				last: function () {
                   this.count++;
				}
			}
		})
	</script>
</body>
</html>
